@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* I added total margin to whole page with universal selector sign * */

* {
	margin: 10px;
	margin-right: 10px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}


.card {
	width: 340px;
  	height: 620px;
	background-color: #4285F4;
	margin-top: 10px;
	padding-top: 10px;
	
}
img {
	width: 320px;
	height: 127px;
	margin: 10px;
}


.next {
	color: white;
	font-size: 25px;
}
a {
	text-decoration: none;
}

/* This one remove the colomn border, so it doesn't show*/
table {
	border-collapse: collapse;
}

td, th {
	border-bottom: 1px solid white;
	text-align: left;
}

footer {
	margin-top: 0px;
	padding-left: 110px;	
}