@charset "UTF-8";
/* CSS Document */

/* I added total margin to whole page with universal selector sign * */

* {
	margin: 2px;
}
/* vh means viewports height, kind of full screen height*/

	.container { 
		background-color: #6c6aa9;
		text-align: center;
		vertical-align: middle;
	}

	nav {
		background-color: #dbacdd;
		min-height: 25vh;
		line-height:25vh;
	}
	main {
		background-color: #968089;
		min-height: 25vh;
		line-height:25vh;
	}
	aside {
		background-color: #e2664c;
		min-height: 25vh;
		line-height:25vh;
	}
	section {
		background-color: #e2664c;
		min-height: 25vh;
		line-height:25vh;
	}


/* To make it responsive*/
@media (min-width:768px) {
	
	/* Apply Grid*/
	.container {
		/* To have the container show on 100% of your screen vertically*/
		min-height:100vh;
		vertical-align: middle;
		line-height: 100vh;
		display: grid;
		/* The grid-column-gap property defines the size of the gap between the columns in a grid layout.*/
		grid-column-gap: 1px;
		/*The grid-template-columns property specifies the number (and the widths) of columns in a grid layout. The values are a space separated list, where each value specifies the size of the respective column.Auto auto auto auto means 4 column default*/
		grid-template-columns: 25% 25% 25% 25%;
	}
	
	/* Align the text vertically in the center*/
	.container, nav, main, aside, section {
		vertical-align: middle;
		line-height: 100vh;
	}
	
	
}