@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* I added total margin to whole page with universal selector sign * */

* {
	margin: 10px;
	margin-right: 10px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #4285F4;
	color: white;
}

img {
	width: 320px;
	height: 127px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

.next {
	color: white;
	font-size: 25px;
}

container {
	margin-top: 0;
	padding-top: 0;
}

footer {
	margin-top: 0px;
	padding-left: 110px;	
}